.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

input {
  margin-top: 0px;
  margin-bottom: 0px;
}

.App-header {
  background-color: #3c62af;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


h1 {
  /* background-color: #3c62af;
  min-height: 100vh; 
  display: flex;
  flex-direction: column;
  align-items: left;
  padding-left: 15px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
  padding-left: 10px;
}

h2 {
  padding-top: 10px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-top: 0px;
  margin-bottom: 8px;
}

h3 {
  justify-content: center;
  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: gray;
  font-size: calc(6px + 2vmin);
  margin-top: 12px;
  margin-bottom: 8px;
}
text {
  font-size: 0.8em;
  margin-top: 0px;
  padding-top:0px;
}

#inptT {
  margin-top: 2px;
  margin-bottom: 6px;
}

#inptY {
  margin-top: 2px;
  margin-bottom: 6px;
}

#contt {
  padding-left: 15px;
  padding-right: 15px;
}

ul {
  padding-left: 15px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(11520deg);
  }
}